footer{
    display: flex;
    justify-content: center;
    font-size: nth($font-size, 5);
    background-color: $color-1;
    padding: 40px;
    margin-top: 50px;
    h5{
        margin-top: 3px;
        margin-right: 15px;
    }
    div{
        a{
            margin: 15px 10px 15px 10px;
        }
    }
}