footer{
    display: flex;
    justify-content: center;
    font-size: 25px;
    background-color: rgb(59, 129, 123);
    padding: 40px;
    margin-top: 50px;
    h5{
        margin-top: 3px;
        margin-right: 15px;
    }
    div{
        a{
            margin: 15px 10px 15px 10px;
        }
    }
}