@media screen and (max-width:1600px) {
.materiales{
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 500px;
    gap: 20px;
    margin: 50px auto;
    height: 80%;
    width: 80%;
    }
}
@media screen and (max-width:1300px) {
    header {
        h2{
            font-size: 50px;
        }
        flex-direction: column;
        nav{
            ul{
                margin-bottom: 20px;
            }
                li{
                    a{
                        margin: 10px 5x 10px 5px;
                        font-size: 25px;
                    }
                }
            }
        }
    .logo{
        font-size: 30px;
    }
    .hero{ 
        h1 {
        font-size: 45px;
            }
    }
    .img {
        display: none;
        
    }
    main {
        section{
                h3{
                    font-size: 35px;
                    width: 90%;
                    margin-left: 0px;
                }
                div{
                    width: 100%;
                    text-align: center;
                    margin-left: 100px;
                }
                }
    }
    .grid-galeria{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 250px;
        gap: 25px;
        margin: 25px;
        grid-template-areas: 
        "impresion impresion"
        "diseño asistencia"
        "serviciotec asistencia"
        ;
    }
    .img1{
        grid-area: impresion;
    }
    .img2{
        grid-area: asistencia;
    }
    .grid-galeria{ 
                h3{
                    font-size: 25px;
                }
    }
    footer{
        padding: 20px;
        margin-top: 50px;
    }
    .listaimpresion{
        div{
            h3{
                font-size: 40px;
            }
            ul{
                li{
                    font-size: 25px;
                }
            }
        }
                    
    }
    .materiales{
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 500px;
        gap: 20px;
        margin: 50px;
        height: 50%;
        width: 50%;
        }
    }

    @media screen and (max-width:1100px) {
        .materiales{
            grid-template-columns: repeat(1, 1fr);
            grid-auto-rows: 450px;
            height: 40%;
            width: 40%;
            }
        }

@media screen and (max-width:750px) {
    header {
        h2{
            font-size: 25px;
        }
        flex-direction: column;
        height: 70px;
        nav{
            ul{
                margin-bottom: 20px;
                li{
                    a{
                        margin: 10px 5x 10px 5px;
                        font-size: 15px;
                    }
                }
            }
        }
    }
    .logo{
        font-size: 25px;
    }
    .hero h1 {
        font-size: 30px;
    }
    main{
        section{
            h3{
                font-size: 30px;
                width: 100%;
            }
                div{
                    width: 100%;
                    text-align: center;
                    margin: 20px;
                }
                .img{
                    display: none;
                    }
                }
    }
    .grid-galeria{
                h3{
                    font-size: 25px;
                }
    }
    .grid-galeria{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: 250px;
        gap: 17px;
        margin: 17px;
        grid-template-areas: 
        "impresion"
        "diseño"
        "serviciotec"
        "asistencia"
        "asistencia"
        ;
    }
    .img1{
        grid-area: impresion;
    }
    .img2{
        grid-area: asistencia;
    }
        .formulario{
                h3{
                    font-size: 30px;
                    
                }
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                margin: 30px;
                margin-bottom: 30px;
                div{
                    padding: 10px;
                    width: 250px;
                label{
                    font-size: 20px;
                }
            }
        }
        .listaimpresion{
            div{
                h3{
                    font-size: 35px;
                }
                ul{
                    li{
                        font-size: 25px;
                    }
                }
            }
                        
        }
        .materiales{
            grid-template-columns: repeat(1, 1fr);
            grid-auto-rows: 500px;
            height: 50%;
            width: 50%;
            }
}

@media screen and (max-width:500px) {
    header {
        h2{
            font-size: 25px;
            }
        flex-direction: column;
        height: 70px;
        nav{
            ul{
                margin-bottom: 20px;
                li{
                    a{
                        margin: 10px 5x 10px 5px;
                        font-size: 12px;
                    }
                }
            }
        }
    }
    .logo{
        font-size: 17px;
    }
    .hero h1 {
        font-size: 30px;
    }
    main{
        section{
            h3{
                font-size: 25px;
                width: 100%;
            }
                div{
                    width: 100%;
                    text-align: center;
                    margin: 20px;
                }
                .img{
                    display: none;
                    }
                }
    }
    .grid-galeria h3{
        font-size: 20px;
    }
    .formulario{
                h3{
                    font-size: 24px;
                    margin-left: 50px;
                }
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                margin: 30px;
                margin-bottom: 30px;
                div{
                    padding: 7px;
                    width: 300px;
                label{
                    font-size: 20px;
                }
            }
        }
    .listaimpresion{
        div{
            h3{
                font-size: 30px;
            }
            ul{
                li{
                    font-size: 20px;
                }
            }
        }
    }
    .materiales{
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: 400px;
        height: 10%;
        width: 10%;
        margin: 5px;
        padding: 5px;
        div{
            img{
                height: 200px;
                width: 200px;
            }
            h4{
                font-size: 90px;
            }
        }
    }
    
    footer{
            h5{
                margin-right: 15px;
                margin-top: 3px;
                }
            div{
                a{
                    margin: 5px;
                }
            }
        }
    }